//==  Colors
$bg-color-light: #fcfcfc;
$bg-color-contact: #dcf4f3;
$border-color-light: #f5f5f5;
$panelizer-blue-adminimal: #51c9c5;
$brand-secondary: #82B541;
$brand-success-bg: #dff0d8;
$brand-success-border: #d6e9c6;
$brand-success-link: #356635;
$brand-warning-bg: #fcf8e3;
$brand-warning-border: #faebcc;
$brand-warning-link: #a47e3c;
$brand-danger-bg: #f2dede;
$brand-danger-border: #ebccd1;
$brand-danger-link: #953b39;
$btn-shadow: rgba(0, 0, 0, 0.25);
$breadcrumb-active-color: #fff;
$layer-transparent-img: rgba(0, 0, 0, 0.3);
$transparent: transparent;
// Réseaux sociaux
$facebook: #3B5998;
$linkedin: #007BB6;
$twitter: #00ACED;

//## Gray and brand colors for use across Bootstrap.
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
// $gray-base: #000;
// $gray-darker: lighten($gray-base, 13.5%); // #222
// $gray-dark: lighten($gray-base, 20%); // #333
$gray: #de0027;
// $gray-light: lighten($gray-base, 46.7%); // #777
//$gray-lighter: #51c9c5;
$gray-lightest: #ffffff;
$btn-lightest: #746c91;
$brand-color-first: #063747;
$brand-primary: #de0027;
$brand-primary-hover: #fff;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$link-color: #746c91;
$link-hover-color: #de0027;
// Navbar
$navbar-border-radius: 0;
$nav-link-hover-bg: transparent;
//Btn
$btn-primary-color: #fff ;
$btn-primary-bg: #de0027;
$btn-primary-border: #fff ;

$text-color: #f5492b;
$gray-light: #122d49;