//== Font Family
$font-family-sans-serif:  "SourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Lato, "Times New Roman", Times, serif;

//== Iconography
$font-icon: "FontAwesome";

//== Icons


//## Google Font

/* latin */
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 300;
  src: local('Light'), local('Light'), url("../../src/fonts/SourceSansPro-Light.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 400;
  src: local('Regular'), local('Regular'), url("../../src/fonts/SourceSansPro-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 600;
  src: local('Semibold'), local('Semibold'), url("../../src/fonts/SourceSansPro-SemiBold.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 700;
  src: local('Bold'), local('Bold'), url("../../src/fonts/SourceSansPro-Bold.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 900;
  src: local('Black'), local('Black'), url("../../src/fonts/SourceSansPro-Black.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 300;
  src: local('Light-Italic'), local('Light-Italic'), url("../../src/fonts/SourceSansPro-LightItalic.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local('Light'), local('Light'), url("../../src/fonts/Lato-Light.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local('Regular'), local('Regular'), url("../../src/fonts/Lato-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  src: local('Bold'), local('Bold'), url("../../src/fonts/Lato-Bold.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: local('Italic'), local('Italic'), url("../../src/fonts/Lato-Italic.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
