.banniere{
    width:100%;
    height:300px;
    background-image: 
      url("../img/theme/banner/nuages.png"),
      url("../img/theme/banner/background.png");
    background-position:0px -300px,0px -200px;
    background-repeat:repeat,repeat;
    animation: animate-banniere linear 100s infinite;
    background-size : cover;
    display:flex;
    flex-direction: row;
    margin-bottom:50px;
    .banniere-chemin{
        align-self:flex-end;
        margin-left:20px;
        padding:10px;
        padding-bottom:0;
        background-color: rgba(0, 0, 0, 0.6);
        transform:padding-bottom;
        transition-duration: .2s;
        transition-timing-function: ease-out;
        &:hover{
            padding-bottom:25px;
        }
        p{
            color: white;
            opacity: 100%;
        } 
    }  
  }
  @keyframes animate-banniere{
    from{ background-position:0px -300px,0px -300px; }
    to{ background-position: -3000px -300px, 3839px-300px }
  }    
 



    
// }

    // // max-height:15%;
    // background-image: url('../img/theme/img-slider-selest.png');
    // margin-bottom:10px;
    // padding-left:0px;
    // padding: 20px 0 0 20px;
    // width: 100%;
    // height:200px;
