.banniere{
    width:100%;
    height:300px;
    background-image: 
      url("../img/theme/banner/nuages.png"),
      url("../img/theme/banner/background.png");
    background-position:0px -100px,0px -100px;
    background-repeat:repeat,repeat;
    animation: animate-banniere linear 100s infinite;
    display:flex;
    flex-direction: row;
    margin-bottom:50px;
    .banniere-chemin{
        align-self:flex-end;
        margin-left:300px;
        padding:20px;
        padding-bottom:0;
        background-color:rgba(75, 60, 131, 0.6);
        transform:padding-bottom;
        transition-duration: .2s;
        transition-timing-function: ease-out;
        &:hover{
            border-left: 5px dotted white;
            border-right: 5px dotted white;
            padding-right:50px;
            padding-left:50px;
            background-color:rgb(116,108,145);
        }
        p{
            color: white;
            font-size:25px;
            opacity: 100%;
        } 
    }  
  }
  @keyframes animate-banniere{
    from{ background-position:0px -100px,0px -100px; }
    to{ background-position: -3000px -100px, 3000px -100px }
  }    
 



    
// }

    // // max-height:15%;
    // background-image: url('../img/theme/img-slider-selest.png');
    // margin-bottom:10px;
    // padding-left:0px;
    // padding: 20px 0 0 20px;
    // width: 100%;
    // height:200px;
