.banniere{
    // max-height:15%;
    background-image: url('../img/theme/img-slider-selest.png');
    margin-bottom:10px;
    padding-left:0px;
    padding: 20px 0 0 20px;
    width: 100%;
    height:200px;
    background-size : cover;
    background-position-y: 26%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: row;
    transition-duration: .2s;
    &:hover{
        filter:grayscale(30%);
    }
    .banniere-chemin{
        align-self:flex-end;
        margin-left:20px;
        padding:10px;
        padding-bottom:0;
        background-color: rgba(0, 0, 0, 0.6);
        transform:padding-bottom;
        transition-duration: .2s;
        transition-timing-function: ease-out;
        &:hover{
            padding-bottom:25px;
        }
        p{
            color: white;
            opacity: 100%;
        }
        
    }  
}

