  .btn-skew-blue{
    width:180px;    
    margin-top:27px;
    margin-left:5px;
    color:#2377b9;
    background-color:white;
    padding:5px 0px 5px 0px;
    border:2px solid rgb(199, 199, 199);
    text-transform: uppercase;
    text-align:center;
    transform:translate(-50%,-50%);
    overflow:hidden;
    transition:.5s;
    font-size: 12px;
    font-weight:bold;
    &:after{
        content:'';
        width:0px;
        height:120%;
        position:absolute;
        left:-10%;
        bottom:0;
        background:linear-gradient(to right, #2377b9 0%, #15598d 100%);
        transform:skewX(35deg);
        z-index:-1;
        transition:.5s;
    }
    &:hover{
        cursor: pointer;
        color:white;
    }
    &:hover:after{
        left:-10%;
        width:120%;
    }
  }

  .btn-skew-purple{
    width:180px;    
    margin-top:27px;
    margin-left:5px;
    color:#746C91;
    background-color:white;
    padding:5px 0px 5px 0px;
    border:2px solid rgb(221, 221, 221);
    text-transform: uppercase;
    text-align:center;
    transform:translate(-50%,-50%);
    overflow:hidden;
    transition:.5s;
    font-size: 12px;
    font-weight:bold;
    &:after{
        content:'';
        width:0px;
        height:120%;
        position:absolute;
        left:-10%;
        bottom:0;
        background:linear-gradient(to right, #746C91 0%, rgb(87, 78, 117) 100%);
        transform:skewX(35deg);
        z-index:-1;
        transition:.5s;
    }
    &:hover{
        cursor: pointer;
        color:white;
    }
    &:hover:after{
        left:-10%;
        width:120%;
    }
  }
  
  .btn-skew-green{
    width:180px;    
    margin-top:27px;
    margin-left:5px;
    color:#133913;
    background-color:white;
    padding:5px 0px 5px 0px;
    border:2px solid rgb(199, 199, 199);
    text-transform: uppercase;
    text-align:center;
    transform:translate(-50%,-50%);
    overflow:hidden;
    transition:.5s;
    font-size: 12px;
    font-weight:bold;
    &:after{
        content:'';
        width:0px;
        height:120%;
        position:absolute;
        left:-10%;
        bottom:0;
        background:linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
        transform:skewX(35deg);
        z-index:-1;
        transition:.5s;
    }
    &:hover{
        cursor: pointer;
        color:white;
    }
    &:hover:after{
        left:-10%;
        width:120%;
    }
  }

  .btn-skew-red{
    width:180px;    
    margin-top:27px;
    margin-left:5px;
    color: #660000;
    background-color:white;
    padding:5px 0px 5px 0px;
    border:2px solid rgb(199, 199, 199);
    text-transform: uppercase;
    text-align:center;
    transform:translate(-50%,-50%);
    overflow:hidden;
    transition:.5s;
    font-size: 12px;
    font-weight:bold;
    &:after{
        content:'';
        width:0px;
        height:120%;
        position:absolute;
        left:-10%;
        bottom:0;
        background:linear-gradient(to right, rgb(199, 0, 0) 0%, rgb(170, 0, 0) 100%);
        transform:skewX(35deg);
        z-index:-1;
        transition:.5s;
    }
    &:hover{
        cursor: pointer;
        color:white;
    }
    &:hover:after{
        left:-10%;
        width:120%;
    }
  }