.demandes-box{
    font-family:"Agency FB";
    padding-top:10px;
    margin-bottom:20px;
    border-style:solid;
    border-width:2px;
    border-color:#ffdc50;
    border-radius: 15px;
    transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    &:hover{
        background-color:#2377b9;
        -webkit-background-color:#2377b9;
        color:white;
    }
    .demandes-demandeur{
        text-align:center;
        font-size:15px;
    }
    .demandes-title{
        margin-left:10px;
        p{
            font-size:30px;
        }
    }
    .demandes-text{
        margin-left:10px;
        p{
            font-size:20px;
            text-align:justify;
        }
    }
    Button{
        position: absolute;
        right: 25px;
        bottom: 40px;
    }
}


