.demandes-box{
    font-family:"Agency FB";
    padding-top:10px;
    margin-bottom:20px;
    border-style:solid;
    border-width:2px;
    border-color:#2377b9;
    border-radius: 15px;
    transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    .demandes-demandeur{
        text-align:center;
        font-size:15px;
    }
    .demandes-title{
        margin-left:10px;
        p{
            font-size:30px;
        }
    }
    .demandes-text{
        margin-left:10px;
        p{
            font-size:20px;
            text-align:justify;
        }
        a{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    }
    
}


