.left-menu{
    padding-top:10px;
    margin-right:30px;
    margin-left:30px;
    border-style:solid;
    border-width:2px;
    border-color: #2377b9;
    border-radius: 15px;
    .categorie-title{
        text-align:center;
        color:#2377b9;
        &:hover{
            font-weight:bold;
        }
    }
    .categorie-parent{
        padding-left:10px;
        font-weight:bold;
        .categorie-enfant{
            border-radius:10px;
            padding-left:30px;
            font-weight:300;
            transition-property: background-color;
            -webkit-transition-property: background-color;
            transition-duration: .2s;
            transition-timing-function: ease-out;
            &:hover{
                background-color:#2377b9;
                font-weight:bold;
                color:white;
            }          
        }
    }

    
    
}


