.left-menu{
    background-color:rgb(0, 0, 0);
    padding-left: 1%;
    margin-bottom:1%;
    margin-left :2%;
    margin-right : 1%;
    color : white;
    .first-child{
        padding-left : 3%;
    }
    .second-child{
        padding-left : 5%;
    }
    
}


