.backblue{
    padding-left: 1%;
    margin-right:2%;
    margin-bottom:1%;
    background-color: blue;
    color:white;
    }

    .backred{
        background-color: red;
        color: white;
    }

.demande{

    img{
        width: 10%;
        height: auto;
    }
}