.logo{
  width: 25%;
  display: block;
  margin: auto;
  margin-top: auto;
  margin-top: 15px;
}
@media screen and (min-width:768px){
  .logo{
    width: 100%;
    margin-bottom: 15px;
  }
}
@media screen and (min-width:1200px){
  .logo{
    width:80%;
    margin-bottom: 15px;
  }
  .top-menu{
    margin:auto;
  }
  .li-menu{
    margin-right: 25px;
  }
  .btn-menu-selest:hover{
     background-color: #1a77b9;
     color: #ffdd50;
     border-radius: 20px;
   }
  .btn-menu-selest:active{
    background-color: #1a77b9;
    color: #ffdd50;
    border-radius: 5px;
  }
  .btn-menu-selest:focus{
    background-color: #1a77b9;
    color: #ffdd50;
    border-radius: 5px;
  }







  //#main-navigation-inside .mr-auto> li:not(:first-child)::after{
  //  content: "";
  //  position: absolute;
  //  top: 9px;
  //  width: 1px;
  //  height: 24px;
  //  margin-left: -2px;
  //  background: #de0027;
  //}
}


