.zone-left{
  background-color: #51767f;
  color: white;
}
.zone-left ul{
  list-style: none;
}
.zone-right{
  background-color: #51767f;
  color: white;
  text-align: center;
}
.zone-right img{
  margin-top: 20px;
}
.txt-categorie{
  text-align: center;
}
