.titre-avantage{
  text-align: center;
  color: $bg-color-light;
  display: block;
  margin:auto;
  margin-top:30px;
}
.titre-acc-direct{
  text-align: center;
}
.txt-titre-service{
  color:$bg-color-light;
  padding-top: 20px;
}
.txt-sous-titre-service{
  color:$bg-color-light;
  text-transform:none;
  font-weight:500;
  margin:0;
  padding:10px 5px;
}
.txt-service-centre{
  color:#fff;
  margin-top:0px;
  padding:40px 20px;
}
