.txt-recherche{
  font-size: 12px;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}
.zone-avantage{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 250px;
}
.zone-avantage p{
  color: #fff;
  text-decoration: none;
}
.zone-avantage ul{
  list-style: none;
  text-align: left;
  line-height: 15px;
  display: inline-block;
  margin: auto;
  margin-top: auto;
  margin-top: 40px;
}
.section{
  margin-bottom:25px
}
.zone-service{
  text-align: center;
  background-color: #51767f;
  margin-top: -20px;
}
.icone{
  margin-right: 35px;
}
.icone-1{
  margin-right: 35px;
}
.icone img{
  width: 32px;
  height: 32px;
}
.icone-1 img{
  width: 28px;
  height: 35px;
}
.icone-2 img{
  width: 32px;
  height: 28px;
}
.zone-pub{
  background-image: url('../img/img-background.jpg');
  background-color: #2a2e33;
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 115px;
  background-position-y: 25%;
}
.zone-pub::before{
  content: "";
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  height: 115px;
  width: 100%;
  left:0;
}
.zone-marche{
  background-color: #2a2e33;
  background-size: cover;
  text-align: center;
  margin-top: -20px;
  color: #ffffff;
}
.zone-txt-animation{
  display: none;
}
/*****************************************************************/

@media screen and (min-width:768px){
  .zone-avantage{
    background-color: rgba(0,0,0,0.5);
    width: 35%;
    position: absolute;
    right: 10%;
    top: 20%;
    height: 260px;
  }

}





@media screen and (min-width:1200px){

}