.footer-selest{
  background-color: #e2dde4;
  h3{
    font-size: 20px;
  }
}
.footer{
  background-color: white;
  height: 550px;
  color: black;
  margin-top: 20px;
}
.footer h2{
  text-align: center;
  padding-bottom:10px;
}
@media screen and (min-width:768px){
  .footer{
    height: 250px;
  }
}
@media screen and (min-width:1200px){
  .footer{
    height: 250px;
  }
}
.block-footer{
  float: left;
}
.block-footer ul{
  list-style: none;
}
.block-footer::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 200px;
  width: 2px;
  background-color: #818182;
}
.pied-page{
  background-color: #746C91;
  height: 45px;
  color: #ffffff;
  text-align: center;
  p{
    margin: auto;
    padding: 8px;
  }
}
.txt-end-page{
  position: relative;
  top: 10px;
}
.menu-footer{
  text-align: center;
  margin-top: 70px;
  padding-right: 80px;
  ul{
    list-style: none;
  }
}