.footer{
  text-align: center;
  background-color: #0c5460;
  height: 550px;
  color: #ffffff;
  margin-top: -20px;
}
@media screen and (min-width:768px){
  .footer{
    height: 250px;
  }
}
@media screen and (min-width:1200px){
  .footer{
    height: 250px;
  }
}

.block-footer{
  float: left;
}
.block-footer ul{
  list-style: none;
}