body{
  overflow-x: hidden;
  font-family: SourceSansPro;
}
.bandeau-pub{
  height:57px;
  display:block;
  padding:0 0 0 0;
  .image{
    height:100%;
    animation:linear marqueelike 40s infinite ;
    background-image: url("../img/contenu/bandeau_pub/bandeau_pub.png");
    &:hover{
      animation-play-state: paused;  
    }
  }
  box-shadow : 0 5px 5px grey;
}
@-webkit-keyframes marqueelike {
  0% {margin-left:0;}
  100% {margin-left:-100%;}
}
.header{
  background-color: #ffffff;
}
.top-header{
  background-color:#746C91;
}
.motor-search{
  background-color: rgba(0,0,0,0.3);
  border: 0.5px solid rgba(255,255,255,0.3);
  color: #ffffff;
}
.motor-search:hover{
  background-color: #a39bcc;
  border: 0.5px solid #ffffff;
}
.btn-motor-search {
  color: #ffffff;
  border: 0.5px solid #ffffff;
}
.btn-motor-search:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  border-color: #cec8da;
}
.motor-recherche{
  top: 0;
  position: absolute;
}
.motor-search{
  padding: 0px;
  width: 70%;
}
.btn{
  padding: 0px;
}
.nav-item{
  float: left;
}
.right-top{
  top: 10%;
  left:5%;
  position: absolute;
}
.left-top{
  float: left;
}
.right-top ul{
  list-style: none;
}
.btn-top-right{
  color: #ffffff;
}
.btn-top-right:hover{
  color: #000;
}

/*** Version Tablette 768px *****************************************/

@media screen and (min-width:768px){
  .right-top{
    position: absolute;
    top: 0;
    left: 65%;
  }
  .motor-recherche{
    top: 0;
    left:1%;
    position: absolute;
  }
  .top-header{
    height:45px;
  }
  .left-top{
    display: inline-block;
    width: 49%;
  }
  .btn{
    padding: 0.3px;
  }
}

/*** Version Pc 1200px *****************************************/

@media screen and (min-width:1200px){
  .right-top{
    left:70%;
  }
  .motor-recherche{
    top: 7px;
  }
}


/*** Version mobile <768pw **************/
@media screen and (max-width:768px){
  .navbar-mobile{
    background-image: url("../img/theme/burger-menu.png");
    position: relative;
    display: inline-block;
  }

  .navbar-mobile-dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    max-width:300px;
    margin-left:-75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    text-align:center;
    z-index: 1;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #746c91;
  border:3px solid #9d97b8;
  min-width: 200px;
  max-width:300px;
  margin-left:-75px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  text-align:center;
  z-index: 1;
  .dropdown-text{
    color:white;
    &:hover{
      color:rgba(255, 255, 255, 0.726);
      text-decoration:none;
    }
  }
}
.dropdown:hover .dropdown-content {
  display: block;
}

.imgHeader{
  height:45px;
  width:45px;
  border-radius : 50%;
}

.navbar-headerzzz{
  margin:50px 0;
  ul{
    margin:0;
    padding:0;
    display:flex;
    li{
      list-style:none;
      a{
        padding:10px 20px;
        font-family:sans-serif;
        position : relative;
        display:block;
        text-decoration:none;
        text-transform:uppercase;
        color:black;
        &:before{
          content:'';
          position:absolute;
          bottom:-2px;
          left:50%;
          transform: translateX(-50%);
          width: 7px;
          height: 7px;
          background: #262626;
          opacity:0;
          border-radius:50%;
          transition:.5s;
        }
        &:hover:before{
            opacity:0.8;
            box-shadow: 15px 0 0 #746c91, -15px 0 0 #746c91,
            30px 0 0 #2377B9, -30px 0 0 #2377B9;
        }
      }
    }
  }
}